<h1>Edit</h1>
 
<%= form_for :device, url: device_path(@device), method: :patch do |f| %>
<p>
    <%= f.label :usage %><br>
    <%= f.text_field :usage %>
  </p>

  <p>
    <%= f.label "Serial Number" %></br>
    <%= f.text_field :serialnumber %>
  </p>

  <p>
    <%= f.label "Donation Date" %></br>
    <%= f.text_field :donationdate %>
  </p>

  <p>
    <%= f.label :hospital %></br>
    <%= f.text_field :hospital %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', devices_path %>