<h1>device usage + distribution</h1>

<%= render 'index' %>

<p>
  <strong>Usage:</strong>
  <%= @device.usage %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @device.serialnumber %>
</p>


<p>
  <strong>Donation Date:</strong>
  <%= @device.donationdate %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @device.hospital %>
</p>

<%= link_to 'Back', devices_path %>